body {
    text-align: center;
}
/* THis is where the header row begins*/
.header {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

ul {
    width: 1653px;
    list-style-type: none;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    align-items: flex-start;
}

/* THis is where the banner row begins*/
.banner {
    display: flex;;
    height: 150px;
}

button {
    display: flex;
    align-self: flex-end;
    height: fit-content;
}
/* THis is where the infoboxes row begins*/

img {
    width: 100px;
    height: 100px;
}

.boxes {
    max-width: 200px;
}

.infoboxes{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}





.quote{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    
}

.qtext {
    display: flex;
    color: red;
}

.atext {
    display: flex;
    align-self: flex-end;
    color: blue;
}

.CTA {
    display: flex;
    height: 150px;
}

.footer {
    display: flex;
    height: 50px;
}